<mat-card class="child">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title ng-model="length">
          Output : {{posts.length}}
        </mat-panel-title>
        <mat-panel-description ng-model="output">
          {{posts[posts.length-1].post}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list-group">
        <li *ngFor = "let info of posts" class="list-group-info">{{info.post}}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

