<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">The Developers:</h3>
            <br>
              <div class="col-md-4">
                  <img src="../../../assets/Olivia.jfif" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Olivia Shouse</h4>
                  <p class="footertext">Senior, Computer Science<br>
              </div>
              <div class="col-md-4">
                  <img src="../../../assets/Caleb.jfif" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Caleb Jacobi</h4>
                  <p class="footertext">Junior, Computer Science<br>
              </div>
              <div class="col-md-4">
                  <img src="../../../assets/Rachel.jfif" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Rachel Carlson</h4>
                  <p class="footertext">Senior, Computer Science<br>
              </div>
            </div>
            <div class="row">
            <p>CS/IT 4830 | University of Missouri<p class="footertext">Copyright 2023</p>
        </div>
    </div>

<!-- Credit to:
https://www.digitaldesignjournal.com/free-footer-html-templates/  -->