/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div {
  padding: 20px;
}

textarea{
  height: 250px;
}

.button{
  width:50%;
  margin:10px;
  position: flex;
}
.child{
  height: 250px;
  width: 48%;
  float: left;
  /* padding: px; */
}

.center{
text-align: center;
width: 100%;
}
